
<head>
    <title>Bizim Botanik</title>
    <link rel="stylesheet" href="/css/styletwo.css">
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-3 mt-6">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        Tüm Bitkiler
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Yasaklı Bitkiler</a>
                    <a href="#" class="list-group-item list-group-item-action">Şifalı Bitkiler</a>
                    <a href="#" class="list-group-item list-group-item-action">Yabancı Bitkiler</a>
                </div>
            </div>

            <div class="col-md-9 mt-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="/img/Sari gul.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Kart Başlığı</h5>
                                <p class="card-text">Sarı gül çiçeği çok güzel herkes almalı bence</p>
                                <a href="/Hakkinda" class="btn btn-primary">Bitki Sayfasına git</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="/img/Sari gul.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Kart Başlığı</h5>
                                <p class="card-text">Sarı gül çiçeği çok güzel herkes almalı bence</p>
                                <a href="/Hakkinda" class="btn btn-primary">Bitki Sayfasına git</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="/img/Sari gul.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Kart Başlığı</h5>
                                <p class="card-text">Sarı gül çiçeği çok güzel herkes almalı bence</p>
                                <a href="/Hakkinda" class="btn btn-primary">Bitki Sayfasına git</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="/img/Sari gul.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Kart Başlığı</h5>
                                <p class="card-text">Sarı gül çiçeği çok güzel herkes almalı bence</p>
                                <a href="/Hakkinda" class="btn btn-primary">Bitki Sayfasına git</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</body>